.NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;

    &__Logo {
      
        &__img {
            max-width: 100%;
            width: 200px;
        }

    }

    &__Login, &__SignOut, &__User {
        color: #2c3e50;
        font-weight: bold;
        text-decoration: none;
        margin-right: 0.5rem;
       

        &:hover {
            text-decoration: underline;
        }
    }
}

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important; /* 2 */
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important; /* 3 */
  }